.DS_Store
venv/
__pycache__/
config.py
config.cfg
*.pyc
*.pem
node_modules/
.vscode/
api/env/
api/analytics.log
nginx/certbot/
!nginx/certbot/.gitkeep
api/.mypy_cache/
.pytest_cache
pyvenv.cfg
.mypy_cache/
.tox/
