version: '3'

services:
    db:
        image: mongo:4.1
        environment:
            MONGO_INITDB_DATABASE: expo-testing
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: password
        ports:
            - "27017:27017"
        command: --quiet
    backend:
        build:
            context: ./api
        volumes:
            - ./api:/app
        depends_on:
            - db
        ports:
            - "8000:8000"
        links:
            - db
        command: gunicorn -b 0.0.0.0:8000 server:app  --capture-output
    frontend:
        build:
            context: ./expo
        volumes:
            - ./expo:/app
            - /app/node_modules
        depends_on:
            - backend
        links:
            - db
            - backend
        ports:
            - "3000:3000"
        command: npm start
