h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

.sponsor-name {
  color: #FF7BAC;
  font-weight: bold;
}

.sponsor-subhead {
  color: #999999;
}

.sponsor-card {
  border-radius: 6px;
  margin: 20px 0px;
}

.sponsor-challenge {
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}

.pink {
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
  cursor: pointer;
}

.black {
  background-color: black;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
  cursor: pointer;
}

.all {
  background-color: #00C7C7;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  width: 9rem;
  padding-top:0.5rem;
  height: 2.2rem;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 400;
  color: white;
  background-color: #00C7C7;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 1em;
}

.font-weight-normal {
  font-weight: normal;
}

.upload_icon {
  margin-right: 0.6rem;
}

.grow-5 {
  flex-grow: 5;
}

.custom-table-assignment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-table-assignment-child {
  flex-basis: 6rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#modalWarning {
  color: white;
}
.warning-text {
  text-align: center;
}
.yes {
  /*margin-left: 1rem;
  margin-right: 3rem;*/
  width: 6rem;
}

.no {
  width: 6rem;
}

.modal_warning_text {
  color: white;
}

@media (min-width:768px) and (max-width: 1200px)  {
  .assign_button1 {
    margin-bottom: 1rem;
  }
}

@media (max-width:567px) {
  .assign_button1 {
    margin-bottom: 1rem;
  }
}
