
.sponsor-name {
  color: #FF7BAC;
  font-weight: bold;
}

.sponsor-subhead {
  color: #999999;
}

.sponsor-card {
  border-radius: 6px;
  margin: 20px 0px;
}

.sponsor-challenge {
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}

.pink {
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}

.black {
  background-color: black;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}
