
.sponsor-name {
  color: #FF7BAC;
  font-weight: bold;
}

.sponsor-subhead {
  color: #999999;
}

.sponsor-card {
  border-radius: 6px;
  margin: 20px 0px;
}

.sponsor-button {
  border-style: 1px solid;
  border-radius: 5px;
  border-color: #00C7C7;
  
  padding: 0px;
  background: none;
  color: #00C7C7;
  font-size: 1rem;

  border:none;
}

.sponsor-button:hover {
  color: #00FFFF;
  border-color: #00FFFF;
}

.sponsor-challenge {
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}
.pink{
  background-color: #b6a1c4;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}

.black{
  background-color: black;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}

.all{
  background-color: #00C7C7;
  padding: 2px 6px 2px 8px;
  color: white;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
  display: inline-block;
}
