@import url('./customize/customize.css');

html {
  background-color: var(--app_background_color);
}

.App {
  font-family: var(--body-font);
  position: relative;
  overflow-x: hidden;
}
.App::before {
  background-image: linear-gradient(rgb(255, 255, 255, .9), transparent),
  var(--app_background_banner);
  background-repeat: no-repeat;
  background-color: var(--app_background_color);
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6, .header-font {
  font-family: var(--header-font);
}

/* App wide modal styles */
.modal-content {
  background-color: var(--app_modal_color);
}
.modal-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.modal-footer {
  border-top: 1px solid rgba(0,0,0,.125);
}
.close {
  color: #fff;
}
.close:hover {
  color: #fff;
}

/* Button styles */
.button {
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.button:disabled {
  opacity: 0.5;
}

/* Get rid of dark blue outline */
.button:active, .button:focus {
  outline: none;
}

/* Primary button styles */
.button-primary:not([disabled]):hover {
  background-color: var(--primary);
  border: 3px solid var(--primary);
}
.button-primary {
  background-color: var(--app_prim_button_color);
  border: 3px solid var(--app_prim_button_border);
}

/* Secondary button styles */
.button-secondary:not([disabled]):hover {
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
}
.button-secondary {
  background-color: var(--app_sec_button_color);
  border: 3px solid var(--app_sec_button_border);
}

/* Warning button styles */
.button-warning:not([disabled]):hover {
  background-color: var(--tertiary);
  border: 3px solid var(--tertiary);
}
.button-warning {
  background-color: var(--app_warn_button_color);
  border: 3px solid var(--app_warn_button_border);
}

/* Link style button */
.link-button {
  border-style: 1px solid;
  border-radius: 5px;
  border-color: var(--app_link_button_border);
  padding: 0px;
  background: none;
  color: var(--app_link_button_color);
  font-size: 1rem;
  border:none;
}
.link-button:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* Error styles */
.error-group {
  width: 100%;
  margin-bottom: 7px;
}
.error-text {
  background-color: var(--app_error_text);
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  outline: none;
  width:100%;
  padding: 10px;
}
.error-icon {
  padding: 10px;
  background-color: var(--app_error_text);
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  outline: none;
  border-right: 2px solid var(--app_error_icon_border);
}
.fa-exclamation-triangle {
  color: var(--primary);
}

/* Layout */
.break-word {
  word-break: break-word;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.m-r-s {
  margin-right: 0.5rem;
}

.m-r-m {
  margin-right: 1rem;
}

.m-b-m {
  margin-bottom: 1rem;
}

.p-a-m {
  padding: 1rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.float-right {
  float: right;
}

.float-right-desktop {
  float: right;
}

@media screen and (max-width: 475px) {
  .float-right-desktop {
    float: none !important;
  }
}