@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

@font-face {
  font-family: 'DINPro';
  src: url('./fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url('./fonts/DINPro-Bold.otf');
}

html {
  background-color: #222;
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: #222;
}


/*a {
  color:#00ffff;
}

a:hover {
  color:#9DFFFE;
}*/

/*
Possible dark variant of neon blue for readability?
#02e6e6
*/
