
/* TODO decide on app-wide color scheme */

.card {
  margin: 10px;
  background-color: #2F2F2F;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px;
}

.card-header {
  background-color: #2F2F2F;
  /*background-color: #ff7bac;
  color:#fff;
  font-size:.2rem;*/
}
