.Challenge-Categories {
  margin-top: 5px;
  line-height: normal;
  margin-left: -1.5px;
}

.Challenge-Wins {
    margin-left: -5px;
}

.Challenge-Wins div button {
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    font-size: 18.5px;
    color: #2d2d2d;
    text-align: left;
    outline: none;
}

.Challenge-Categories div, .Challenge-Wins div {
  display: inline-block;
}

.Challenge-Card {
  width: auto;
  color: white;
}

table.Challenge-Card {
  border-collapse: collapse;
  margin-right: 7px;
}

.Challenge-Card tr {
  font-size: 15px;
  background-color: #b6a1c4;
}

/* Override table hover */
.Challenge-Card tr:hover {
  background-color: #b6a1c4;
}

.Challenge-Card tr td.challenge-info {
  border-radius: 4.5px 0px 0px 4.5px;
  padding: 4px 7px;
  text-align: center;
  font-weight: lighter;
}

.Challenge-Card tr td.challenge-info:hover {
  background-color: #a875c9;
  transition: all 0.4s ease-in-out;
}

.Challenge-Card tr td.indicator {
  border-radius: 0px 4.5px 4.5px 0px;
  border-left: 1.5px solid white;
  padding: 0px 5px;
  margin-bottom: 0px;
}
