.logo {
  height: 6rem;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}

@media (max-width:768px) {
  .logo {
    height: 4rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}
