.logo {
  height: 150px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 1));
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 1));
}

.navbar {
  display: flex;
  justify-content: center;
}
