
@import url('./customize/customize.css');

.toggle {
  margin-top: 20px;
  display: inline-block;
}

.toggle-label {
  /*display: inline-block;
  margin-left: 10px;
  position: absolute;
  bottom: 47px;*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/*.Vote .switch {
  width: 110px;
  height: 40px;
}*/

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  content: "";
  top: -17px;
  left: -7px;
  right: 7px;
  bottom: 17px;
  /* border-style: solid; */
  /* border-color: #969696; */
  /* border-width: 1px; */
  /* box-shadow: inset -1.5px 1px 2px lightgray; */
  border-radius: 10px;
}

/*.Vote .slider {
  border-radius: 4px;
}*/

.slider:before {
  z-index: 999;
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-width: 0px;
  height: 20px;
  width: 20px;
  border-radius: 11px;
}

/*.Vote .slider:before {
  height: 40px;
  width: 15px;
  border-radius: 4px;
}*/

input:checked + .slider {
  background-color: var(--slider_checked);
  border-width: 0px;
}

input:checked + .slider:hover {
  background-color: var(--slider_hover);
}

input:not(:checked) + .slider {
  background-color: var(--slider_unchecked);
}

input:not(:checked) + .slider:hover {
  background-color: var(--slider_unchecked_hover);
}

input:checked + .slider:before {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/*.Vote input:checked + .slider:before {
  -webkit-transform: translateX(95px);
  -ms-transform: translateX(95px);
  transform: translateX(95px);
}*/

/*------ ADDED CSS ---------
.Vote .slider:after
{
 content:'NO VOTE';
 color: #2d2d2d;
 display: block;
 position: absolute;
 white-space: nowrap;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 55%;
 font-size: 15px;
 font-weight: bold;
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}

.Vote input:checked + .slider:after
{
  left: 45%;
  content:'WINNER';
  color: #2f2f2f;
}

/*--------- END --------*/

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: var(--slider_after);
 display: block;
 position: absolute;
 white-space: nowrap;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 65%;
 font-size: 13px;
 font-weight: bold;
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}

input:checked + .slider:after
{
  left: 38%;
  content:'ON';
  color: white;
}

/*--------- END --------*/

