button.task-header {
    font-size: 20px;
}

 div.table-announcement {
  margin: 0px 15px;
  margin-top: 10px;
  padding: 0;
}

#Sponsor ul {
  list-style: none;
}

.fa-user-check, .fa-check-circle {
  color: #ba92db;
}

#Sponsor td.task-header, #Sponsor td.task {
  background-color: #2f2f2f;
  color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

#Sponsor td.task-header {
  border-bottom: 3px solid #1c1c1c;
  margin-top: -1px;

}

#Sponsor td.task {
  margin-top: 5px;
}

#Sponsor button.task-title {
  background-color: #2f2f2f;
  border: 0px solid;
  text-align: left;
  color: white;
  font-size: 17.5px;
  padding-top: 2px;
  padding-bottom: 5px;
  outline: none;
  padding-left: 10px;
  width:100%;
}

#Sponsor button.task-icon {
  background-color: #2f2f2f;
  border: 0px solid;
  color: #2f2f2f;
  width: 35px;
  font-size: 15px;
  color: white;
  outline: none;
}

#Sponsor button.announcement-icon {
  background-color: #2f2f2f;
  border: 0px solid;
  color: #2f2f2f;
  width: 45px;
  font-size: 17px;
  color: white;
  outline: none;
  padding-right: 9px;
  border-right: 2px solid rgb(255,255,255,0.125);
}

#Sponsor td.tasks:hover {
  border-color: #00ffff;
}

#Sponsor td.announcement {
  margin: 0px;
  margin-bottom: 8px;
  padding: 3px 7px;
  background-color: #1c1c1c;
  width: 100%;
}

#Sponsor td.announcement button{
  background-color: transparent;
}


#Sponsor td.announcement:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
  background-color: #424242;
}

.fa-circle {
  color: #b190cc;
  font-size: 25px;
}

.fa-times-circle {
  color: #ff7bac;
  font-size: 18px;
}

.fa-tasks {
  color: #ff7bac;
}
