#Sponsor .fa-square, #Sponsor .fa-check-square {
  font-size: 53px;
  padding-top: 10px;
  color: #FF7BAC;
}

#Sponsor .fa-square {
  opacity: 0.5;
}

#Sponsor .hoverable:hover {
  opacity: 1;
}

#Sponsor table tr th:nth-of-type(3) {
  text-align: left;
  padding-left: 20px;
}

#Sponsor td.Voting {
  width: 4%;
  text-align: center;
}

#Sponsor input[type=checkbox] {
  display: none;
}

#Sponsor tr.button-row td.clear button, #Sponsor tr.button-row td.submit button {
  font-weight: bold;
  outline: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
}

#Sponsor tr.button-row td.clear button {
  width: 100%;
  background-color: #FF7BAC;
  border: 3px solid #FF7BAC;
}

#Sponsor tr.button-row td.clear button:not([disabled]):hover {
  background-color: #2F2F2F;
  border: 3px solid #FF7BAC;
}

#Sponsor tr.button-row td.submit {
  text-align: right;
}

#Sponsor tr.button-row td.submit button {
  width: 200px;
  background-color: #00C7C7;
  border: 3px solid #00C7C7;
}

#Sponsor tr.button-row td.submit button:not([disabled]):hover {
  background-color: #2F2F2F;
  border: 3px solid #00FFFF;
}

#Sponsor tr.button-row button:disabled {
  opacity: 0.5;
}

#Sponsor tr.button-row td {
  border: 0px solid;
}

#Sponsor td.announcement {
  background-color: #B6A1C4;
  border-color: #B6A1C4;
  color: white;
  margin: 0px;
  padding: 8px 15px;
  border-radius: 5px;
}

#Sponsor td.announcement:hover {
  background-color: #B6A1C4;
}
