/* Remove Default Link Style */
#Home .link, #Sponsor .link,
#Home .link:hover, #Sponsor .link:hover {
  color: white;
  text-decoration: none;
}

/* Technica Winning Ribbon */
#Home img.Ribbon {
  height: 30px;
  width: 30px;
  margin-right: 7px;
}
#Home button.Ribbon {
  padding: 0px;
}

#Home button:disabled {
  opacity: 1.0;
}

#Home .btn:active,.btn:focus {
  outline: none;
  box-shadow: none;
}

#Home .btn {
  color: white;
  text-align: left;
  white-space: normal;

  background-color: #2F2F2F;
  outline: none;
}


#Sponsor table, #Home table {
  width: 100%;
  border-collapse: collapse;
}

#Sponsor table thead th, #Home table thead th {
  font-size: 17.5px;
  text-align: center;
  padding-bottom: 5px;
}

#Sponsor tr td, #Home tr td {
  padding: 15px 0px;
  border-top: 2px solid #222222;
}

#Home table thead th:nth-of-type(2) {
  text-align: left;
  padding-left: 20px;
}

#Sponsor table tbody tr td.Table-Number,
#Home table tbody tr td.Table-Number {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  width: 60px;
}
#Home table tbody tr td div.Project button.Table div.Table-Number {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
}
#Home table tbody tr td div.Project button.Table {
  border-radius: 5px;
  border: 0px solid;
  font-weight: bold;
  color: white;
  width: 80px;
  outline: none;
}
#Home table tbody tr td div.Project button.Table div.Table {
  font-size: 13px;
}

#Sponsor table tbody tr td div.Project,
#Home table tbody tr td div.Project {
  font-size: 22.5px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

#Home div.challenges-won div {
  margin-right: 10px;
}

#Home div.attempted-challenges button {
  color: #999999;
  font-size: 17px;
  padding: 0px;
}

#Home div.challenges-won button,
#Home div.challenges-won div {
  font-size: 18px;
  padding: 0px;
  margin-top: 3px;
}
#Home div.challenges-won,
#Home div.attempted-challenges {
  padding-left: 20px;
}
#Home div.attempted-challenges {
  color: #999;
}

#Home hr.attempted-challenges {
  margin-bottom: 1px;
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 459px) {
  #Sponsor table tbody tr.voting-row td:nth-of-type(1) {
    width: 50px;
  }
  #Home table tbody tr td div.Project,
  #Home div.challenges-won,
  #Home div.attempted-challenges {
    padding-left: 0px;
    text-align: center;
  }
  #Home div.challenges-won div {
    margin-right: 0px;
  }
  #Sponsor table tbody tr td div.Project,
  #Home table tbody tr td div.Project {
    font-size: 20px;
  }
  #Home div.attempted-challenges button {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
  }
  #Home div.challenges-won,
  #Home div.attempted-challenges {
    padding: 7px 0px 0px 0px;
  }
}

#Sponsor div.no-submissions, #Home div.no-submissions {
  text-align: center;
  white-space: pre-wrap;

  margin: 10px 0px;
  height: 200px;

  background-color: #1c1c1c;

  opacity: 0.75;

  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Sponsor div.no-submissions h2, #Home div.no-submissions h2 {
  font-weight: bolder;
}

#Sponsor table tbody tr td div.Project,
#Home table tbody tr td div.Project {
  word-break: break-word;
}

@media screen and (max-width: 319px) {
  #Home div.attempted-challenges button,
  #Home div.challenges-won div {
    word-break: break-word;
  }
}
