/*table {
  border: none;
}*/

tbody tr td {
  border-top: 2px solid #222;
}

tbody tr:hover {
  background-color: #444;
}

/*.table{
  table-layout: fixed;
}*/


table {
    border-collapse: collapse;
    width: 100%;
}

th {
  padding-bottom: 20px;
}

td {
  padding: 20px 0px;
}

tr:hover td {
    background-color: #2f2f2f;
}

/* ============ [Technica Win Badge] ============ */
img.Icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
/* ==================== [END] ================== */

/* ============ [Devpost Link Icon] ============ */
.name a {
    text-decoration: none;
    color: #00C7C7;
    padding: 0px 6px 0px 0px;
}

.name a:hover {
    color: #00FFFF;
}
/* ==================== [END] ================== */

/* ============== [Table Number] ============== */
.TableNumber {
    padding-right: 10px;
    /* Text */
    font-size: 40px;
    font-weight: bold;
    /* Borders */
    position: relative;
    border-left:0;
  	border-right:0;
}
/* ==================== [END] ================== */

/* =========== [Project Information] =========== */
/* <== Grid Structure ==>*/
.name { grid-area: name; }
.Challenge-Wins { grid-area: wins; }
.Challenge-Categories { grid-area: challenges; }
.Vote { grid-area: vote; }

.grid-container {
  display: grid;
  grid-template-areas:
    'name name'
    'wins wins'
    'challenges challenges';
}
/* <======================>*/

.Project {
    /* Text */
    font-weight: bold;
    font-size: 22px;
}
/* ==================== [END] ================== */

/* ============== [Challenge Cards] ============ */
/* <=== [Winning Badge] ===> */
.Challenge-Wins {
    margin-left: -5px;
}

.Challenge-Wins div {
    display: inline-block;
}

.Challenge-Wins div button {
    /* Remove Default Button Style*/
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    outline: none;
    /* Text */
    color: #fff; /*#999999;*/
    font-size: 16px;
    text-align: left;
    /*white-space: nowrap;*/ /* Commenting out let's zoom be good up to 300% */
}
/* <=======================> */
/* <== [Basic Challenge] ==> */
.Challenge-Categories {
    margin-top: 7px;
    line-height: 20px;
    color: #999999;
}

.Challenge-Categories table {
    /* Span Table Cell */
    width: 100%;
    /* Text */
    font-size: 15px;
    font-weight: normal;
}

.Challenge-Categories table tr:hover td {
    /*border-color: #00FFFF;*/
}

.Challenge-Categories table tr td {
  border-top: none;
}

.Challenge-Categories b  {
    padding-right: 4px;
}

.Challenge-Categories td.indicator {
    /* Triangular indicator aligned to the right */
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}
/* <=======================> */
/* ==================== [END] ================== */

/* =================== [Voting] ================ */
.Vote {
    vertical-align: middle;
    text-align: center;
}

.Vote input[type=radio] {
    /* Remove Checkbox Default */
    display: none;
}

.Vote label {
    margin-bottom: 0px;
}
/* ==================== [END] ================== */
