
@import url('../customize/customize.css');
/* TODO decide on app-wide color scheme */

.card {
  margin: 10px;
  background-color: var(--card_background_color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 8px 0px var(--card_box_shadow);
  -moz-box-shadow: 0px 2px 8px 0px var(--card_box_shadow);
  box-shadow: 0px 2px 8px 0px var(--card_box_shadow);
}

.card-header {
  background-color: var(--card_header_background);
  /*background-color: #ff7bac;
  color:#fff;
  font-size:.2rem;*/
}

