/* CUSTOMIZABLE PARAMS */
/* Fonts */
@font-face {
    font-family: AvenirBold;
    src: url("../fonts/Avenir/AvenirLTStd-Heavy.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: Aleo;
    src: url("../fonts/Aleo/Aleo-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: Aleo, ;
    src: url("../fonts/Aleo/Aleo-Regular.otf") format("opentype");
}

:root {
    /* font families */
    --header-font: "Aleo", sans-serif;
    --body-font: "Avenir", sans-serif;

    /* primary color scheme */
    --primary: #FF8860;
    --primary-darker: #FF6F3F;
    --secondary: #A58D7C;
    --secondary-darker: #7F6C5F;
    --tertiary: #FF5B60;
    --tertiary-darker: #FF3F46;
    --quaternary: #528CA5;

    /* variable naming scheme:
     * --filename_element_attribute */

    /* supporting color scheme */
    /* Technica: 2f2f2f, Bitcamp Midnight Blue: 1A2E33 */
    --supporting-primary: #1A2E33;
    --supporting-primary-darker: rgb(52, 65, 68);

    /* App.css styles */
    --app_background_banner: url('../imgs/background.png');
    --app_background_color: white;
    --app_modal_color: #222;
    --app_modal_border: rgba(0,0,0,.125);
    --app_button_color: white;
    --app_prim_button_color: var(--primary-darker);
    --app_prim_button_border: var(--primary-darker);
    --app_sec_button_color: var(--secondary-darker);
    --app_sec_button_border: var(--secondary-darker);
    --app_warn_button_color: var(--tertiary-darker);
    --app_warn_button_border: var(--tertiary-darker);
    --app_link_button_color: var(--primary-darker);
    --app_link_button_border: var(--primary-darker);
    --app_error_text: var(--supporting-primary);
    --app_error_icon_border: rgb(255,255,255,0.125);

    /* Card.css styles */
    --card_background_color: var(--supporting-primary);
    --card_box_shadow: rgba(0,0,0,0.2);
    --card_header_background: var(--supporting-primary);

    /* CircleCheck.css styles */
    --check_circle_stroke: var(--quaternary);
    --check_mark_background: var(--quaternary);
    --check_mark_stroke: var(--supporting-primary);
    --check_mark_box_shadow: var(--quaternary);

    /* SliderOption.css */
    --slider_checked: var(--primary-darker);
    --slider_unchecked: #888;
    --slider_after: #2D2D2D;
    --slider_checked_hover: var(--primary);
    --slider_unchecked_hover: #999;
    
    /* Sponsor.css */
    --sponsor_fa_square: var(--secondary-darker);
    --sponsor_project_table: #999;
    --sponsor_ul_selector: var(--quaternary);
    --sponsor_button: rgba(0,0,0,0.2);
    --sponsor_fa_user_circle: var(--quaternary);
    --sponsor_task_header: var(--supporting-primary-darker);
    --sponsor_button_task_icon: var(--supporting-primary);
    --sponsor_fa_circle: var(--quaternary);
    --sponsor_fa_times_circle: var(--secondary-darker);

    /* Table.css */
    --table_home_btn: var(--supporting-primary);
    --table_home_tr_td: #222222;
    --table_att_challenges: #999999;
    --table_no_submissions: var(--supporting-primary-darker);

    /* Admin.css */
    --admin_sponsor_name: var(--secondary-darker);
    --admin_subhead: #999999;
    --admin_challenge_pink: var(--quaternary);
    --admin_challenge_black: #000000;
    --admin_all_bgcolor: var(--primary-darker);
    --admin_input_label: var(--primary-darker);
}
/* END CUSTOMIZABLE PARAMS */
