/* CUSTOMIZABLE PARAMS */
/* Fonts - Import font families here */
/* End fonts*/

:root {
  /* font families */
  --header-font: "Aleo", sans-serif;
  --body-font: "Avenir", sans-serif;

  /* primary color scheme */
  --primary-action: #ff8800;
  --primary-action-darker: #ff8800;
  --cancel-action: #324A79;
  --cancel-action-darker: #324A79;
  --warning: #324A79;
  --warning-darker: #324A79;
  --accent: #528ca5;

  /* variable naming scheme:
     * --filename_element_attribute */

  /* supporting color scheme */
  /* Technica: 2f2f2f, Bitcamp Midnight Blue: 1A2E33 */
  --supporting-primary: #10274f;
  --supporting-primary-darker: #324A79;

  /* App.css styles */
  --app_background_banner: url("./imgs/hero.png");
  --app_background_color: #2d2d2d;
  --app_modal_color: #222;
  --app_modal_border: rgba(0, 0, 0, 0.125);
  --app_button_color: white;
  --app_prim_button_color: var(--primary-action-darker);
  --app_prim_button_border: var(--primary-action-darker);
  --app_sec_button_color: var(--cancel-action-darker);
  --app_sec_button_border: var(--cancel-action-darker);
  --app_warn_button_color: var(--warning-darker);
  --app_warn_button_border: var(--warning-darker);
  --app_link_button_color: var(--primary-action-darker);
  --app_link_button_border: var(--primary-action-darker);
  --app_error_text: black;
  --app_error_text_background: var(--warning);
  --app_error_icon_border: rgb(255, 255, 255, 0.125);

  /* Card.css styles */
  --card_background_color: var(--supporting-primary);
  --card_box_shadow: rgba(0, 0, 0, 0.2);
  --card_header_background: var(--supporting-primary);

  /* CircleCheck.css styles */
  --check_circle_stroke: var(--accent);
  --check_mark_background: var(--accent);
  --check_mark_stroke: var(--supporting-primary);
  --check_mark_box_shadow: var(--accent);

  /* SliderOption.css */
  --slider_checked: var(--primary-action-darker);
  --slider_unchecked: #888;
  --slider_after: #2d2d2d;
  --slider_checked_hover: var(--primary-action);
  --slider_unchecked_hover: #999;

  /* Sponsor.css */
  --sponsor_fa_square: var(--primary-action);
  --sponsor_project_table: #999;
  --sponsor_ul_selector: var(--accent);
  --sponsor_button: rgba(0, 0, 0, 0.2);
  --sponsor_fa_user_circle: var(--accent);
  --sponsor_task_header: var(--supporting-primary-darker);
  --sponsor_button_task_icon: var(--supporting-primary);
  --sponsor_fa_circle: var(--accent);
  --sponsor_fa_times_circle: var(--cancel-action-darker);

  /* Table.css */
  --table_home_btn: var(--supporting-primary);
  --table_home_tr_td: rgba(255, 255, 255, 0.1);
  --table_att_challenges: #999999;
  --table_no_submissions: var(--supporting-primary-darker);

  /* Admin.css */
  --admin_sponsor_name: var(--cancel-action-darker);
  --admin_subhead: #999999;
  --admin_challenge_pink: var(--accent);
  --admin_challenge_black: #000000;
  --admin_all_bgcolor: var(--primary-action-darker);
  --admin_input_label: var(--primary-action-darker);
}

@media (max-width: 500px) {
  .App::before {
    background-size: 100% 100% !important;
    /* background-position-y: 28vh; */
  }
}

/* END CUSTOMIZABLE PARAMS */
